<div class="formContent" id="loginForm" data-visible="false">
    <form action="/_core/scripts/login.php" autocomplete="off">
        <div class="inputContainer">
            <label for="login_username">Username</label>
            <input tabindex="1" type="text" id="login_username" name="login_username"/>
        </div>
        <div class="inputContainer">
            <label for="login_password">Password</label>
            <!--<a tabindex="4" class="forgot" href="#">Forgot?</a>-->

            <input tabindex="2" type="password" id="login_password" name="login_password"/>
        </div>
        <div class="inputContainer controls">
            <div class="inputLeft">
                <label for="rememberMe"><input type="checkbox" checked="checked" id="rememberMe" name="remember_me" tabindex="5"/> Remember me</label>
            </div>
            <div class="inputRight">
                <button tabindex="6">Login</button>
            </div>
        </div>
        <div class="inputContainer links">
            <a href="#" class="registerLink">Create an Account</a> &bull; <a href="#" class="registerLink">Account FAQ</a>
        </div>
    </form>
</div>

<script src="/_assets/js/scripts/loginform.js"></script>