#calcHeader {
    width: 24%;
    float: right;
}

.headerModule {
    background: #dcddd8;
    margin: 5px 0;
    border-bottom: 2px solid #D74E5E;
    text-align:center;
}

#userinformation {
    vertical-align: top;
    display: block;
    max-width:300px;
    margin:5px auto 0;
}

#userinformation h2 {
    margin: -10px 0 0 0;
    font-size: 40px;
    color: #1C1C1C;
    font-variant: small-caps;
}

#avatar {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
    background-color:#475F77;
}

#avatar p {
    margin: -5px 0 0 0;
    padding: 0;
    font-weight: bold;
    color: #CCC;
    font-size:22px;
}

#avatar img {
    height: 100px;
    margin: 35px 0 0 0;
}

.demo-1 {
    position: absolute;
    width: 100px;
}

.stat {
    display: inline-block;
    background-color: #475F77;
    border-radius: 25px;
    height: 25px;
    color: #D3D3D3;
    vertical-align: top;
    margin-top:2px;
}

.stat.xpremaining {
    width:100%;
    text-align:center;
    margin-top:4px;
}

.stat.xpremaining p {
    padding: 0 10px;
}

.stat p {
    padding: 0 10px 0 0;
    display: inline-block;
    vertical-align: top;
    font-size:75%;
    margin-top: 6px;
}

#userinformation #statinfo #experienceInfo p {
    font-size: 75%;
    margin-top: 6px;
}

.sidebarHeader {
    background-color: #354B5E;
    color: #CCC !important;
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 10px 0;
}

.headerModule_inner {
    overflow: hidden;
    padding: 10px;
}

.center {
    margin: 0 auto;
}

#recalculateContainer {
    overflow: hidden;
}

#recalculateContainer #quickCalculateContainer {
    width: 100%;
    clear: both;
    text-align: center;
    margin-bottom: 10px;
}

#recalculateContainer .skillTargetContainer {
    float: left;
    overflow: hidden;
    width: 20%;
}

#recalculateContainer .skillTargetContainer label {
    display: inline-block;
    width: 30%;
    margin: 0 2%
}

#recalculateContainer .skillTargetContainer label img {
    max-width: 100%;
}

#recalculateContainer .skillTargetContainer input {
    width: 60%;
    box-sizing: border-box;
    border-collapse: collapse;
}

div.nofloat {
    width: 100%;
    clear: both;
    text-align: center;
    margin-top: 10px;
    overflow: hidden;
}

#recalculateContainer button {
    clear: both;
    margin: 0 auto;
}

#badgeContainer {
    position:relative;
}

#badges {
    width:250px;
    margin:0 auto;
}

.userinfoicon {
    background: url(http://www.maxcape.com/calc/badge_sprites_sm.png) no-repeat;
    background-size: 118px 192px;
    width: 26px;
    height: 25px;
    display: inline-block;
}

.userinfoicon.combatant {
    background-position: -90px -85px
}

.userinfoiconnew {
    background: url(../../../img/new_badges_ex_sm.png) no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
}

.userinfoiconnew.exp {
    background-position: 0 0;
}

.userinfoiconnew.totallevel {
    background-position: -33px 0;
}

#pageContent {
    width: 75%;
    display: inline-block;
    margin-top: 5px;
    background: #dcddd8;
}

#calcSkillContainer {
}

#skillprogress-wrapper {
    display: table;
    position: relative;
    width: 100%;
}

.skillprogress {
    display: table-row;
    position: relative;
    overflow: hidden;
    background-color:#dcddd8;
}

.skillprogress.skillprogressheader {
    height: 42px;
    background:#354B5E;
    color:#CCC;
}

.progress {
    background: #CCC;
    position: absolute;
    left: 0;
    height: 34px;
}

.skill-icon {
    height: 30px;
}

.skill-text {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    border-bottom: thin solid #BBB;
    border-top: thin solid #CCC;
}

.skill-text img.sortBtn {
    vertical-align: middle;
    margin-top:-4px;
    margin-right:2px;
}

.skillprogress:last-of-type .skill-text {
    border: none;
}

.skill-text.icon {
    width: 50px;
    text-align:center;
    margin:0 auto;
}

.levelDisplay {
    display:inline-block;
    background:#D74E5E;
    font-size:90%;
    margin-right:2px;
    border-radius:100px;
    padding:2px;
    width:30px;
    text-align:center;
    color:#dcddd8;
}

.levelDisplayMax {
    font-size:70%;
}

/* Progress Bar Styles */

.skillbar_bar_maxwidth {
    width:75%;
}

.skillbar_bar
{
    height:15px;
    /*width:0px;*/
    /*border-radius:0px 3px 3px 0px;*/
    /*border:thin solid black;*/
    background:#D74E5E;
    box-sizing:border-box;
}

.skill_bar_percent
{
    position:absolute;
    right:2px;
    top:0;
    font-size:12px;
    height:35px;
    line-height:35px;
    width:25%;
    text-align:center;
}