#loginFormBlinder {
    position:fixed;
    z-index:9999;
    background:rgba(0,0,0,0.3);
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
}

#loginForm {
    display:none;
    margin:0 auto;
    position:absolute;
    z-index:9999;
}

.formContent {
    background:#d3d3d3;
    padding-bottom:10px;
    padding-top:10px;
    cursor:default;
}

.formContent form {
    margin:0 auto;
    width:300px;
    color:#1D1D1D;
}

.inputContainer {
    overflow:hidden;
    padding:0 10px;
    width:256px;
    float:none !important;
    margin:0 auto !important;
    display:block !important;
}

.inputContainer label {
    float:left;
    clear:left;
}

.formContent form .inputContainer a.forgot {
    float:right;
    clear:right;
    border:none;
    padding:0;
    font-size:80%;
}

.formContent form .inputContainer a.forgot:hover {
    background:transparent;
}

.inputContainer input[type='text'], .inputContainer input[type='password'] {
    width:250px;
    border:thin solid #888;
    padding:3px;
    margin:2px 0;
}

.inputContainer label[for='rememberMe'] {

    padding:5px 0;
    display:block;
}

.formContent form .inputContainer .inputRight {
    float:right;
    display:table-cell;
    vertical-align: middle;
}

.formContent form .inputContainer .inputLeft {
    float:left;
    display:table-cell;
    vertical-align:middle;
    height:30px;
}

.inputContainer.links {
    text-align:center;
    font-size:80%;
}

.formContent form .inputContainer.links a.registerLink {
    border:none;
    margin:5px 0 0 0;
    padding:0;
    /*font-size:80%;*/
    display:inline-block;

}

.formContent form .inputContainer.links a.registerLink:hover {
    background:transparent;
}

.inputRight button {
    padding:5px;
}