

.fixedNavMargin {
    margin-top:30px;
}

#searchBar {
    width:100%;
    clear:both;
    position:relative;
    height:85px;

}

/*#search {*/
    /*width:80%;*/
    /*margin:0;*/
    /*padding:0;*/
    /*border-right:none !important;*/
/*}*/

/*#searchBtn {*/
    /*width:20%;*/
    /*margin:0;*/
    /*padding:0;*/
    /*left:80%;*/
    /*background: #E7EBED;*/
    /*color:#777;*/
/*}*/

/*#search, #searchBtn {*/
    /*box-sizing:border-box;*/
    /*display:inline;*/
    /*position:absolute;*/
    /*font-size:18px;*/
    /*padding:10px;*/
    /*border:thin solid #aaa;*/

    /*border-bottom:2px solid #D74E5E;*/
/*}*/

#mainContent {
    float:left;
    width:74%;
    margin-right:1%;
    padding-top:1%;
}

#sidebar {
    float:left;
    width:24%;
    margin-left:1%;
    padding-top:1%;
}

.newsItem {
    margin:0 0 10px 0;
    background-color:#dcddd8;
    overflow:hidden;
    border-bottom:2px solid #D74E5E;
}

.newsItem h3.hdr {
    margin:0;
    padding:10px;
    font-size:18px;
    background:#354B5E;
    color:#d3d3d3;
    font-family: 'Open Sans', sans-serif;
}

.newsItem h3.hdr a {
    color:#d3d3d3;
}

.newsItem p {
    text-align: justify;
    padding: 0 10px;
}

.newsItem .newsFooter3dDummy {
    border-bottom:1px solid #BBB;
    display:block;
    width:100%;
    margin:0;
    padding:0;
}

.newsItem .newsFooter {
    border-top:thin solid #DDD;
    padding:10px;
    background:#CCC;
    overflow:hidden;
}

.newsItem .newsFooter span.postedBy {
    float:left;
}

.newsItem .newsFooter span.commentCount {
    float:right;
}

.newsItem img:not(.avatar) {
    margin:16px 10px;
    float:right;
}

.sidebarlist {
    background-color: #DDD;
    margin: 0 0 10px 0;
    padding: 0;
    list-style-type: none;
}

.sidebarlist li {
    width: 100%;
    overflow:hidden;
    padding:5px 0;
    border-bottom:1px solid #BBB;
    border-top:1px solid #DDD;
}

.sidebarlist li:last-child {
    border-bottom:2px solid #D74E5E;
}

.sidebarlist-link {
    text-align:center;
}

.sidebarlist-link a {
    display:block;
    width:100%;
    padding:19px 0;
}

.sidebarlist li:nth-of-type(even) {
    background-color:#CDCDCD;
}

.sidebarlist li:hover {
    background-color:#CCC;
}

.userportrait {
    float:left;
    width:25%;
    text-align:center;
}

.userportrait img {
    width:100%;
    max-width:50px;
    margin-top:2px;
}

.userportrait.up_sm img {
    max-width:35px;
}

.userportrait.up_ex_sm {
    width:15%;
}

.userportrait.up_ex_sm img {
    max-width:20px;
}

.postdetails {
    float:left;
    width:75%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.postdetails.noportrait {
    width:50%;
    text-align:center;
}

.threadtitle {
    margin:0;
    padding:0;
    font-size:95%;
}

.threadtitle span {
    display:block;
}

.threadtitle a:first-child {
    font-size:110%;
}

.threadtitle a {
    text-decoration:none;
    font-size:103%;
}

.userandtime {
    margin:0;
    padding:0;
    font-size:90%;
}

.userandtime.searchHistory {
    width:100%;
    padding:2px 0;
}

.userandtime.searchHistory .user {
    float:left;
}

.userandtime.searchHistory span {
    float:right;
}

.user {
    text-decoration:none;
}

.userandtime:not(.searchHistory) .user:after {
    content: " \2022 ";
    color:#1D1D1D;
}

#searchBar .categoryheader {
    margin:0;
}

.categoryheader {
    background-color: #354B5E;
    color: #CCC !important;
    text-align: center;
    font-size:18px;
    margin:0;
    padding:10px 0;

}

.avatar {
    height:25px;
    margin:0 0 0 10px;
    vertical-align: middle;
    padding:10px 0;
}

.comment:first-of-type {
    margin-top:10px;
}

.commentheader {
    overflow:hidden;
}

.commentdate {
    float:right;
    margin-right:10px;
}

.commentheader span {
    display:inline-block;
    padding:10px 0;
}

.commentbody {
    background:#BBB;
    padding:10px;
}

.comment{
    margin-bottom:10px;
}

#commentContainer {
    background:#DDD;
    padding:5px 10px;
    box-shadow: inset 0 0 10px #999;
}

.commentbody p:first-child {
    margin-top:0;
}

.commentbody p:last-child {
    margin-bottom:0;
}

.commentbody p {
    padding:0;
}

.newsFooter h3.hdr {
    border-bottom:2px solid #D74E5E;
}

.replies {
    margin-left:5%;
    margin-bottom:10px;
    margin-top:-5px;
}

.replies .comment:not(:last-child) {
    margin-bottom:5px;
}

#mp_pagination {
    text-align:left;
}

.page_number.active_page {
    background:#CCC;
}

.page_number {
    display:inline-block;
    background-color:#AAA;
}

.page_number a {
    display:block;
    padding:8px 12px;
}

#donate {
    background-color:#dcddd8;
    border-bottom:2px solid #D74E5E;
}

#donate form {
    max-width:50%;
    margin:0 auto;
}

#donate form input[type="image"] {
    max-width:100%;
}

#donate p {
    margin:0;
    padding:8px;
}

.darkText, .darkText a {
    color:#1D1D1D;
}

.medText, .medText a {
    color:#C1C1C1;
}

.lightText, .lightText a {
    color:#D3D3D3;
}

.errorMessage {
    background-color:#D74E5E;
    padding:10px;
    margin:0 0 10px 0;
    font-size:18px;
    color: rgba(19,22,21,0.7);
}

#closeAlert {
    float:right;
    margin-top:2px;
    color:rgba(255,255,255,0.6);
    cursor:pointer;
}