#profileheader {
    overflow:hidden;
    margin-top:20px;
    padding-bottom:5px;
}

.badge {
    background:url(http://www.maxcape.com/calc/badge_sprites_sm.png);
    background-repeat: no-repeat;
    background-size:106px 187px;
    width: 23px;
    height: 23px;
    display: inline-block;
}

.badge.combatant {
    background-position: -54px -109px;
}

#avatar, #userinformation {
    display:inline-block;
}

#avatar {
    background: -webkit-linear-gradient(-45deg, #CCC, #EEE); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(     -45deg, #CCC, #EEE); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(   -45deg, #CCC, #EEE); /* For Firefox 3.6 to 15 */
    background: linear-gradient(        -45deg, #CCC, #EEE); /* Standard syntax (must be last) */
    border:2px solid #D74E5E;
    border-radius:100px;
    padding:5px;
}

    #avatar img {
        height:70px;
    }

#userinformation {
    height:88px;
    vertical-align:top;
}
    #userinformation h2 {
        margin:5px 0 0 0;
        font-size:40px;
    }

    #userinformation #statinfo {

    }

    #userinformation #statinfo .stat {
        display:inline-block;
    }

    #userinformation #statinfo .stat p {
        margin:0;
        padding:0;
        display:inline-block;
        line-height:23px;
    }

    .staticonTEXT {
        color:orange;
        font-size:150%;
    }

#milestone {
    float:right;
}

#rsnSelection {
    margin-top:5px;
    padding-bottom:5px;
    border-bottom:thin solid #999;
}

    #rsnSelection p {
        margin:0;
        padding:0;
        display:inline-block;
    }

    #rsnSelection ul {
        display:inline-block;
        list-style-type:none;
        margin:0;
        padding:0;
    }

    #rsnSelection ul li {
        display:inline-block;
        padding:5px;
    }

    #rsnSelection ul li.activeAccount {
        background:#CCC;
    }

ul.tabs {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}

    ul.tabs li {
        width:20%;
        float:left;
        text-align:center;
        background:#DDD;
        margin:0;
        box-sizing:border-box;
        overflow:hidden;
    }

    ul.tabs li:not(:first-child) {
        border-left:thin solid #999;
    }

    ul.tabs li a {
        display:block;
        width:100%;
        height:100%;
        padding:5px 0;
    }

    ul.tabs li.activetab {
        background:#CCC;
    }

#tabbedContainer_Content {
    height:625px;
    background:#CCC;
}

#calc_skills_container {
    position:relative;
}
    .calc_skill_row {
        width:100%;
        height:50px;
    }

    .calc_skill_header_row {
        cursor:inherit;
    }

        .calc_skill_row_progress {
            background-color:#D74E5E;
            height:50px;
        }

            .calc_skill_row_text {
                position:absolute;
                height:50px;
                left:0;
                right:0;
            }

                .calc_skill_row_text>div {
                    display:inline-block;
                    height:50px;
                    vertical-align:top;
                }

                .calc_skill_icon {
                    height:50px;
                    width:50px;
                    position:relative;
                }

                    .calc_skill_icon img {
                        position:absolute;
                        height:30px;
                        margin: 10px 0 0 10px;
                    }

                    .calc_skill_icon .demo-1 {
                        position:absolute;
                        width:50px;
                    }

                    .calc_skill_name {
                    }

                        .calc_skill_name p {
                            margin:0;
                            padding:0;
                            font-size:25px;
                            line-height:50px;
                        }