body, html {
    margin: 0 auto;
    font-family: Telex, Helvetica, sans-serif;
}

a {
    color: #4b8290;
    text-decoration:none;
}



/*#footer {*/
    /*padding:10px 0;*/
    /*margin-top:20px;*/
    /*background-color:#475F77;*/
    /*color:#CCC;*/
/*}*/

/*#footer p {*/
    /*margin:0;*/
    /*text-align:center;*/
/*}*/

.pagewidth {
    width:90%;
    margin:0 auto;
    min-width:1024px;
}