#pageFooter {
    width:100%;
    background-color:#354B5E;
    border-top:2px solid #D74E5E;
    overflow:hidden;
    height:75px;
    margin-top:20px;
}

#pageFooter #copyrightinfo {
    width:75%;
    float:left;
}

#pageFooter #copyrightinfo p {
    margin:10px 0 10px 0;
    padding:0;
    color:#DEDEDE;
    font-size:14px;
}

#pageFooter #social {
    height:75px;
    overflow:hidden;
    width:24%;
    float:right;
}
#socialicons {
    position:relative;
    width:100%;
    height:75px;
    margin:0 auto;
}

.socialicon {
    cursor:pointer;
    position:absolute;
    top:0;
    z-index:100;
}

.socialicon * {
    transition-property: padding;
    transition-duration: 0.2s;
}

.bannertop {
    height:3px;
    border-bottom:thin solid white;
    width:40px;
}

.bannertop:after {
    content: "- - -";
    margin-left:5px;
    color:#CCC;
    opacity:0.8;
}

.bannermid {
    height:0;

    width:40px;
    padding-bottom:5px;
}

.bannercontent {
    width:40px;
    font-size:20px;
    padding:5px 0;
    text-align:center;
    color:#D3D3D3;
}

.bannerbottom {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 10px solid #f00;
}

.socialicon:hover .bannercontent {
    padding:10px 0;
    color:#F2F2F2;
}

.googleplus {

    right:150px;
}

.facebook {

    right:100px;
}

.tumblr {
    right:50px;

}

.twitter {

    right:0;
}

.googleplus .bannercontent, .googleplus .bannermid, .googleplus .bannertop {
    background-color:#B13E31;
}

.googleplus .bannerbottom {
    border-top-color:#B13E31;
}

.googleplus:hover .bannercontent, .googleplus:hover .bannermid, .googleplus:hover .bannertop {
    background-color:#DB4A38;
}

.googleplus:hover .bannerbottom {
    border-top-color:#DB4A38;
}

.facebook .bannercontent, .facebook .bannermid, .facebook .bannertop {
    background-color:#304886;
}

.facebook .bannerbottom {
    border-top-color:#304886;
}

.facebook:hover .bannercontent, .facebook:hover .bannermid, .facebook:hover .bannertop {
    background-color:#4669ab;
}

.facebook:hover .bannerbottom {
    border-top-color:#4669ab;
}

.tumblr .bannercontent, .tumblr .bannermid, .tumblr .bannertop {
    background-color:#335670;
}

.tumblr .bannerbottom {
    border-top-color:#335670;
}

.tumblr:hover .bannercontent, .tumblr:hover .bannermid, .tumblr:hover .bannertop {
    background-color:#477392;
}

.tumblr:hover .bannerbottom {
    border-top-color:#477392;
}

.twitter .bannercontent, .twitter .bannermid, .twitter .bannertop {
    background-color:#4586ae;
}

.twitter .bannerbottom {
    border-top-color:#4586ae;
}

.twitter:hover .bannercontent, .twitter:hover .bannermid, .twitter:hover .bannertop {
    background-color:#65acc8;
}

.twitter:hover .bannerbottom {
    border-top-color:#65acc8;
}