header {
    width:100%;
}

#headerIcon {
    width:50px;
    height:50px;
    display:inline-block;
    float:left;
    background-image:url(../../img/new_badges_sm.png);
    background-repeat:no-repeat;
    background-position:-69px 0;
    margin-top:3px;
}

#header {
    background-color:#354B5E;
    overflow:hidden;
    margin:0;
    color:#D3D3D3;
    height:60px;
}

#headerinner {
    width:90%;
    min-width:1024px;
    margin:0 auto;
    overflow:hidden;
}

#headerinner h2 {
    float:left;
    font-variant:small-caps;
    margin:11px 0 0 0;
    font-size:30px;
}

#headerinner img.icon {
    float:left;
    margin-top:19px;
    margin-right:10px;
}

.ddl_menu div {
    display:inline-block;
    float:right;
    overflow:hidden;
}

.ddl_menu div * {
    margin:0;
}

.ddl_menu div i {
    margin-top:-10px;
    margin-left:10px;
    float:right;
}

.ddl_username {
    float:left;
    font-variant:small-caps;
    margin:0 20px 0 0 !important;
    padding:0;
    font-size:110%;
}

.ddl_myaccount {
    /*float:left;*/
    font-variant:small-caps;
    /*margin:20px 20px 0 0 !important;*/
    padding:0;
    font-size:110%;
    display:block;
}

.ddl_rsn {
    font-variant:small-caps;
    float:left;
    clear:left;
    margin:0;
    padding:0;
    font-size:90%;
}

.ddl_user_avatar {
    height:40px;
    float:left;
}

.ddl_menu {
    margin:0;
    padding:0;
    float:right;
    cursor:pointer;
    height:60px;
}


.ddl_menu.nopointer {
    cursor:default;
}

.ddl_menu:hover {
    background-color:#475F77;
}

.ddl_menu li.ddl_main {
    list-style:none;
    padding:10px;
    height:40px;
    display:table-cell;
    vertical-align:middle;
}

.ddl_menu li a:link, .ddl_menu li a:visited {
    display:block;
    text-decoration:none;
    padding:10px 10px;
    margin:0;
    border-top:thin solid black;
}

.ddl_menu li a:hover {
    background-color:#475F77;
}

/*style the sub menu*/
.ddl_menu li ul {
    position:absolute;
    z-index:999;
    visibility:hidden;
    margin:0;
    padding:0;
    top:60px;
    right:0;
}

.ddl_menu li ul li {
    display:inline;
    float:none;
}

.ddl_menu li ul li a:link, .ddl_menu li ul li a:visited {
    background-color:#354B5E;
    color:#D3D3D3;
    width:auto;
}

.ddl_menu li ul li a:hover {
    background-color:#475F77;
}

nav {
    width:100%;
    margin:0;
    background-color:#475F77;
    position:relative;
    height:41px;
    border-bottom: 2px solid #D74E5E;
}


nav ul {
    margin:0;
    padding:0;
    list-style-type:none;
    display:inline-block;
    overflow:hidden;
}

nav ul li {
    float:left;
    display:inline-block;
    padding:10px 0;
}

nav ul li:first-of-type {
    padding-left:0;
}

nav ul li:hover, nav ul li.active {
    background-color:#354B5E;
}

nav ul li a {
    color:#D3D3D3;
    text-decoration: none;
    padding:5px 10px;
    font-variant:small-caps;
}

.ddl_username a, .ddl_rsn a, .ddl_myaccount a {
    border:none !important;
    padding:0 !important;
    color:#d3d3d3;
    font-variant:small-caps;
}

.ddl_username a:hover, .ddl_rsn a:hover, .ddl_myaccount a:hover {
    color:#FFF;
}

#navinner {
    width:90%;
    min-width:1024px;
    margin:0 auto;
    height:40px;
}

#header.fixedNav {
    margin-bottom:53px;
}

nav.fixed {
    width:100%;
    margin:0;
    background-color:#475F77;
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:41px;
    border-bottom: 2px solid #D74E5E;
    z-index:9999;
}


nav.fixed ul {
    margin:0;
    padding:0;
    list-style-type:none;
}

nav.fixed ul li {
    float:left;
    display:inline-block;
    padding:10px 0;
}

nav.fixed ul li:first-of-type {
    padding-left:0;
}

nav.fixed ul li:hover, nav ul li.active {
    background-color:#354B5E;
}

nav.fixed ul li a {
    color:#D3D3D3;
    text-decoration: none;
    padding:5px 10px;
    font-variant:small-caps;
}

#calcSearch {
    overflow:hidden;
    padding:0;
    height:40px;
}

#calcSearch a {
    float:left;
    margin-top:5px;
}

#calcSearchBox {
    display:inline-block;
    width:0;
    overflow:hidden;
    height:40px;
}

#calcSearchBox input {
    width:125px;
    margin-top:6px;
    height:100%;
    border-radius:5px;
    background:#344556;
    padding:5px 5px;
    box-sizing:border-box;
    border:1px inset #4b637c;
    color:#EEE;
}

#calcSearchBox input:focus {
    outline:0;
}

#calcSearchBox button {
    visibility:hidden;
}

#lavalamp {
    border-top:2px solid #D74E5E;
    left: 0;
    position: absolute;
    top:0;
    width: 0px;
}

.slider {
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

#timer-container {
    float:right;
    padding:0 20px;
    cursor:pointer;
}

#timer-container:hover {
    background-color:#475F77;

}

#timer {
    height:60px;
    display:table-cell;
    vertical-align:middle;
}

#timer-toggle-container {
    display:inline-block;
    width:0;
    overflow:hidden;
    vertical-align:middle;
}

#timer-text {
    margin:0;
    padding:0;
}

#calcSearch {
    float:right;
    vertical-align: middle;
    white-space: nowrap;
    position:relative;
}

#calcSearch .searchIcon {
    position:absolute;
    top:50%;
    margin-left:17px;
    margin-top:17px;
    color:#4f5b66;
}

#calcSearch input {
    box-sizing:border-box;
    height:40px;
    width:200px;
    border:none;
    background:#2b303b;
    color:#262626;
    padding-left:45px;
}

.container-1{
    width: 24%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    float:right;
}

.container-1 form {
    display:inline-block;
}

.container-1 input#search{
    width: 100%;
    height: 34px;
    background: #f2f2f2;
    border: none;
    font-size: 10pt;
    color: #262626;
    padding-left: 50px;
    padding-right:10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position:absolute;
    top:3px;
    z-index:1;
}

.container-1 input#search::-webkit-input-placeholder {
    color: #65737e;
}
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;
}
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;
}
.container-1 input#search:-ms-input-placeholder {
    color: #65737e;
}

.container-1 .icon {
    position:absolute;
    width:45px;
    height:34px;
    top:3px;
    background:#D3D3D3;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    z-index:2;
}

.container-1 .icon i{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: -9px;
    z-index: 1;
    color: #4f5b66;
}

.container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
}

#searchtype_switcher {
    display:inline-block;
    position:absolute;
    right:0;
    top:2px;
    z-index:3;
}

.rslogo {
    display:inline-block;
    height:34px;
    width:48px;
    text-align:center;
    z-index:3;
    margin-top:1px;
}

.rslogo img {
    height:34px;
}

#searchtype_osrs {
    right:0;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}

.rslogoactive {
    background:#D74E5E;
}